.container{
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 1rem;
}

.form-control{
    background: white;

}
.border {
    background: white;
    width: 350px;
}

.stile-textfield{

 
}